@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.carousel-container {
  overflow: hidden;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Para ocultar el scrollbar en navegadores basados en WebKit */
}

.clip-path-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}


